body {
	background-color: blue;
	background-image: url( "../Images/Image.jpg" );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: green; 
}


body {
font-family: verdana, arial, "sans serif";
color: #000000;
background: blue;
background-image: url( "../Images/photo.jpg" );
background-repeat: no-repeat;
background-size: cover;
background-position: center;
} 

.container{
	background-image: url(../image/backgrounds/image.jpg);
	float:center;
	color:white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;

}

.logo {
	background-color:rgb(200.200.200); 
}

#footer {
	background-color: white;
}



 h2,h3{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{
    float: left;
    margin-left: 55px;
    margin-top: 35px;
}
h1{ font-size: 1.7em(16px); }
h1{ font- } 
h2{ font-size: 1.5em; }
h3{ font-size: 1.5  ; }
}
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }


	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 20px;
				background: orange;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}

#content,
ul li a{ box-shadow: 0px 1px 1px #999;
}

#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}





			

